{
    "timeout": 1800,
    "source": {
        "directories": [
            "src"
        ]
    },
    "logs": {
        "text": "./var/infection.log",
        "summary": "./var/infection-summary.log",
        "json": "./var/infection.json",
        "perMutator": "./var/infection-per-mutator.md",
        "github": true
    },
    "minMsi": 100,
    "minCoveredMsi": 100,
    "ignoreMsiWithNoMutations": true,
    "mutators": {
        "@default": true,
        "Concat": {
            "ignore": [
                "WyriHaximus\\TileStitcher\\FileLoader::load"
            ]
        },
        "ConcatOperandRemoval": {
            "ignore": [
                "WyriHaximus\\TileStitcher\\FileLoader::load"
            ]
        },
        "IfNegation": {
            "ignore": [
                "WyriHaximus\\TileStitcher\\FileLoader::load"
            ]
        }
    },
    "phpUnit": {
        "configDir": "./etc/qa/"
    }
}
